/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* info */
.info {
  padding-left: 20%;
}

.info-ico {
  /* color:#00704A; */
  font-size: 1.3rem !important;
  color: black !important;
}
.info p {
  font-size: 15px !important;
}

/* navbar */
.navbar-brand {
  font-family: "Noto Serif", serif !important;
  font-size: 200% !important;
  font-weight: bolder !important;
  padding-left: 20%;
  padding-right: 20%;
}

button {
  padding: 10px 25px !important;
  border-radius: 50px !important;
}

.book-btn {
  background: #00704a !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  margin-right: 8% !important;
  white-space: nowrap;
}

/* carousel */
.carousel-caption {
  font-family: "Poppins", sans-serif !important;
  font-size: 140%;
}

.carousel-header {
  font-family: "Satisfy", sans-serif !important;
}

.car-btn {
  border: 3px solid #00704a !important;
  color: white !important;
  font-weight: bolder !important;
  font-family: "Poppins", sans-serif !important;
}

.carousel slide {
  width: 100% !important;
  height: auto !important;
}

/* about */
.bg-about {
  background-color: #b5dbcf !important;
}

#about-header {
  font-family: "Satisfy", sans-serif !important;
  font-size: 60px;
  width: 60% !important;
  font-weight: 700;
}

#about-li {
  font-size: 100% !important;
  font-family: "Poppins", sans-serif !important;
  width: 60% !important;
}

#about p {
  font-family: "Poppins", sans-serif !important;
  font-size: 100% !important;
  width: 60% !important;
}

.bi-check-all {
  font-size: 130% !important;
  color: #00704a !important;
}

.background-pad {
  background-color: #b5dbcf !important;
  width: 1 00% !important;
  height: 100% !important;
  border-top: solid 60px #b5dbcf;
  border-bottom: solid 60px #b5dbcf;
}

/* why */
#why {
  color: #1f1f1f;
}

#why h4 {
  font-family: "Satisfy", sans-serif !important;
  font-size: 40px;
  font-weight: 700;
  padding-top: 4%;
  padding-bottom: 2%;
}

.why-desciption {
  font-family: "Poppins", sans-serif !important;
}

#why span {
  color: #00704a;
}

.why-container {
  width: 400px;
  height: 300px;
  box-shadow: grey 3px 3px 10px;
  row-gap: 10px;
}

.why-container:hover {
  color: white;
  background-color: #00704a;
}
