/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* info */
.info-ico {
  /* color:#00704A; */
  color: black !important;
}

/* navbar */
.navbar-brand {
  font-family: "Noto Serif", serif !important;
  font-size: 200% !important;
  font-weight: bolder !important;
}

button {
  padding: 10px 25px !important;
  border-radius: 50px !important;
}

.book-btn {
  background: #00704a !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

/* carousel */
.carousel-caption {
  font-family: "Poppins", sans-serif !important;
  font-size: 140%;
}

.carousel-header {
  font-family: "Satisfy", sans-serif !important;
}

.car-btn {
  border: 3px solid #00704a !important;
  color: white !important;
  font-weight: bolder !important;
  font-family: "Poppins", sans-serif !important;
}

.carousel slide {
  width: 100% !important;
  height: auto !important;
}

/* about */
.bg-about {
  background-color: #b5dbcf !important;
  background-clip: content-box, padding-box !important;
}

#about-header {
  font-family: "Satisfy", sans-serif !important;
  font-size: 350%;
  width: 60% !important;
}

#about-li {
  font-size: 100% !important;
  font-family: "Poppins", sans-serif !important;
  width: 60% !important;
}

#about p {
  font-family: "Poppins", sans-serif !important;
  font-size: 100% !important;
  width: 60% !important;

}

.bi-check-all {
  font-size: 130% !important;
  color: #00704a !important;
}







